.about {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.work, .contact {
    text-align: right;
}

.open {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 6fr;
}

.opencover {
    width: 350px;
    margin-top: 60px;
    grid-column-start: 2;
}


.openfb{
    width: 620px;
    grid-column-start: 4;
    margin-top:150px;
}

.calendarcover {
    width: 100px;

}

/*body {
    margin: 0 0 0 0;
    font-family: 'Times' ;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.designer {

}

h1 {
    margin: 1vh 0 0 0;
}
.about {
    margin-top: 0;
    margin-left: 1vw;
    height: 100vh;
    border-right: solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    font-family: "columba text trial", sans-serif;
    font-weight: 400;
    /*font-weight: 700;
    font-style: normal;
}

.resume {
    margin-bottom: 1vh;
    align-self: flex-end;

}

.projects {
    margin-left: 1vh;
    margin-top: 1vh;
}

.content {

}
*/